* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  background-color: cadetblue;
}

h1 {
  margin: 20px 40px;
  font-size: 52px;
  color: #fff;
}

h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  padding: 10px;
  color: brown;
  background-color: #333;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
}

section::before {
  content: '';
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}

section:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

.btn {
  width: 100px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  margin-top: 10px;
}

.btn:hover {
  cursor: pointer;
  filter: invert(85%);
}

.scores > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.row {
  display: flex;
  width: 100%;
  max-width: 960px;
  align-self: center;
  justify-content: space-between;
}

.row > section {
  min-width: 400px;
  margin: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 18px;
}

.form > button {
  align-self: flex-end;
}

#display-score {
  border: 2px solid #555;
}

#display-score > li:nth-child(even) {
  background-color: #ccc;
}

.input {
  outline-offset: 5px;
  outline: 2px solid #333;
  margin: 16px 0;
  border: none;
  font-size: 20px;
  border-radius: 6px;
  padding: 2px 0;
  background-color: #ccc;
}
